body{
    background: #141414;
    color: #FFFFF0;
}

ul{
    padding: 0;
}

a{
    color:aqua;
}

.main-container{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-text{
    display: inline-block;
    text-align: left;
    background: black;
    border-radius: 40px;
    padding: 40px;
}